<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>People App Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <h1 class="banner">People Demo Application</h1>

        <div class="section editor">
            <div class="my-2">
                <form>
                  <div class="form-group">
                    <label for="fname">First name</label>
                    <input type="text" class="form-control" id="fname" placeholder="Enter first name">
                  </div>
                  <div class="form-group">
                    <label for="lname">Last name</label>
                    <input type="text" class="form-control" id="lname" placeholder="Enter last name">
                  </div>
                    <button id="create" type="submit" class="btn btn-primary">Create</button>
                    <button id="update" type="submit" class="btn btn-primary">Update</button>
                    <button id="delete" type="submit" class="btn btn-primary">Delete</button>
                    <button id="reset" type="submit" class="btn btn-primary">Reset</button>
                </form>
            </div>

            <div class="my-5">
                <div class="people">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Update Time</th>
                            </tr>
                        </thead>
                        <tbody id="body">
                        </tbody>
                    </table>
                </div>
            </div>

        <div class="error">
        </div>

        </div>
    </div>
</body>
<script src="static/js/home.js"></script>
</html>